.style{
    padding:3em;
    border:1px #ccc solid;
}
.container1{
    display: flex;
    flex-direction: column;
}
.container2{
    display: flex;
    flex-direction: row;
}
.container3{
    display: flex;
    flex-direction: row;
}
.container3-div1{
    flex:1;
}
.container3-div2{
    flex:2;
}
.container3-div3{
    flex:1;
}
.container4{
    display: flex;
    align-items: flex-start;
}
.container4-div1{
    flex:1;
}
.container4-div2{
    flex:2;
}
.container4-div3{
    flex:1;
}
.container5{
    display: flex;
    align-items: flex-end;
}
.container5-div1{
    flex:1;
}
.container5-div2{
    flex:2;
}
.container5-div3{
    flex:1;
}

.container6{
    display: flex;
    align-items: baseline;
}
.container6-div1{
    flex:1;
}
.container6-div2{
    flex:2;
}
.container6-div3{
    flex:1;
}

.container7{
    display: flex;
    align-items: center;
}
.container7-div1{
    flex:1;
}
.container7-div2{
    flex:2;
}
.container7-div3{
    flex:1;
}
.container8{
    display: flex;
    justify-content: flex-start;
}
.container8-div1{
    flex-basis: 20%;
}
.container9{
    display: flex;
    justify-content: flex-end;
}
.container9-div1{
    flex-basis: 20%;
}
.container10{
    display: flex;
    justify-content: center;
}
.container10-div1{
    flex-basis: 20%;
}
.container11{
    display: flex;
    justify-content: space-between;
}
.container11-div1{
    flex-basis: 20%;
}
.container12{
    display: flex;
    justify-content: space-around;
}
.container12-div1{
    flex-basis: 20%;
}